@model List<BasketItem>
@{
    ViewData["Title"] = "Cart";
  
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/Cart/cart.css">
}



<div class="basket-page"><span>Basket</span></div>
<div class="home-basket">
    <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/Home.html"><span>Home</span></a><span>
        / Basket
    </span>
</div>


<table class="table" style="margin-top: 88px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               @* <th class="item" scope="row">@(colCount++)</th>*@
                <td>
                    <img src="~/assets/image/Shop/@item.Product.ProductImages.FirstOrDefault(M=>M.Ismain)?.Image" style="width: 70px; height: 70px;" alt="">
                </td>
                <td class="item">@item.Product.Name</td>
                <td class="item">@item.Product.Price</td>
                <td class="item d-flex" style="padding-bottom:50px; padding-top:31px;">
                    <form asp-controller="Basket" asp-action="BasketProductCountChange" asp-route-basketId="@item.Id" asp-route-quantity="-1">
                        <button style="border:none;" type="submit"> <i class="fa-solid fa-minus"></i></button>
                    </form>
                    <input style="margin-bottom:4px; width: 36px;" min="1" disabled value="@item.Count" type="number">

                    <form asp-controller="Basket" asp-action="BasketProductCountChange" asp-route-basketId="@item.Id" asp-route-quantity="1">
                        <button style="border:none" type="submit"><i class="fa-solid fa-plus"></i></button>
                    </form>


                </td>
                <td class="item totalprice">@(item.Product.Price * item.Count)</td>
                <td class="item">
                    <form asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-id="@item.Product.Id">

                        <button style="border:none;background:white;" type="submit"><i class="fa-solid fa-xmark"></i></button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>



@section Scripts{

    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="./assets/js/Cart/cart.js"></script>
    <script src="https://kit.fontawesome.com/e53a0e3ee5.js" crossorigin="anonymous"></script>
    <script src="./assets/js/Cart/cart.js"></script>
}