@model AboutVM


@{
    ViewData["Title"] = "About";
}


@section Style{

    <link rel="stylesheet" href="~/assets/scss/About/About.css">
}


<div class="about-page"><span>About</span></div>
<div class="home-about">
    <a asp-controller="home" asp-action="index"><span>Home</span></a><span>
        / About
    </span>
</div>

<main>
    <section id="image">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.AboutInfos)
                {
                    <div class="col-12">
                        <div class="main-img">
                            <div class="img">
                                <img class="" src="~/assets/image/About/@item.Image" alt="">
                            </div>



                            <div class="payne-title">
                                <span>@item.Title</span>

                            </div>


                            <div class="payne-text">
                                <p class="text-center">
                                 @item.Description
                                </p>

                            </div>

                        </div>

                    </div>
                }
               

            </div>

        </div>

    </section>

    <section id="choose-us">
        <div class="container">
            <div>
                <div class="choose-title">
                    <span>Why Chose Us?</span>
                </div>

                <div class="row">
                    @foreach (var item in Model.Choses)
                    {
                        <div class="col-4">
                            <div class="truck-free">
                                <img src="~/assets/image/About/@item.Image" alt="">
                            </div>

                            <div class="title">
                                <span>@item.Name</span>
                            </div>

                            <div class="description">
                                <span class="text-center">
                                    @item.Description
                                </span>
                            </div>


                        </div>
                    }


                </div>

            </div>

        </div>


    </section>

    <section id="about-gallery">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.AboutGalleries)
                {
                    <div class="col-4">
                        <div class="gallery">
                            <img src="~/assets/image/About/@item.Image" alt="">
                        </div>

                        <div class="gallery-title">
                            <span>@item.Name</span>
                        </div>

                        <div class="gallery-description">
                            <p class="text-center">
                               @item.Description
                            </p>
                        </div>

                    </div>
                }
              



               




               

            </div>

        </div>
    </section>
</main>



@section Scripts{

    <script src="./assets/js/About/about.js"></script>
}

