@model ProductDetailVM

@{
    ViewData["Title"] = "Detail";
}

@section Style{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/scss/ProductDetail/productDetail.css">
}

<div class="product-detail"><span>Minaudière</span></div>
<div class="home-productDetail">
    <a asp-controller="home" asp-action="index"><span>Home</span></a><span>
        / Minaudière
    </span>
</div>


<main>

    <section id="product-detail">
        <div class="container">
            <div class="row">

                <div class="col-6 d-flex">

                    <div class="main-wrapper">
                        <div class="container">
                            <div class="product-div">
                                <div class="product-div-left">

                                     
                                    <div class="img-container">
                                        
                                        <img src="~/assets/image/ProductDetail/@Model.Images.FirstOrDefault(m => m.Ismain)?.Image"
                                             alt="watch">
                                       
                                    </div>

                                   
                                    
                                    <div class="hover-container">
                                        @foreach (var item in Model.Images)
                                        {

                                          <div>
                                            <img src="~/assets/image/Shop/@item.Image">
                                          </div>
                                     
                                        }

                                    </div>

                                  
                                </div>

                            </div>
                        </div>
                    </div>

                </div>





                <div class="col-6">
                    <div class="product-name mt-5">
                        <span>@Model.Name</span>

                    </div>

                    <div class="quantity">
                        <span>SKU: @Model.Sku</span>

                    </div>



                    <div class="product-desc">
                        <p>
                           @Model.Description
                        </p>
                    </div>

                    <div class="product-price">
                        <span>
                           @Model.Price $
                        </span>

                    </div>

                    <div class="rating"
                         style="display: flex;list-style:none;gap:7px"
   
   

                        @for (int i = 0; i < Model.Rating; i++)
                        {


                            <li><i style="color:gold;" class="fa fa-star"></i></li>


                        }

                        @for (int i = 0; i < 5 - Model.Rating; i++)
                        {

                            <li><i style="color:gray;" class="fa fa-star"></i></li>

                        }

                    </div>


                    <div class="product-quantity d-flex">




                       <form asp-controller="basket" asp-action="addbasket" asp-route-id="@Model.Id">
                            <div class="button">
                                <input class="form-control" name="quantity" />
                                <button class="btn btn-primary" type="submit">ADD TO CART</button>
                            </div>
                       </form>
                        

                    </div>


                    <div class="wishlist-button">
                        <button class="btn btn-primary" type="submit">ADD TO WISHLIST</button>
                    </div>

                    <div class="d-flex category-area">


                        <div class="product-category mt-5">
                            <span>Brand: @Model.BrandName</span>

                        </div>

                        <div class="mt-5">
                            <p>
                                <span>
                                    <a href="">
                                        New Arrivals,
                                    </a>

                                    <a href="">
                                        Popular Products,
                                    </a>


                                    <a href="">
                                        Top Sales
                                    </a>

                                </span>
                            </p>
                        </div>

                    </div>



                    <div class="tags-area d-flex">
                        <div class="product-tag">
                            <span>Color: @Model.ColorName </span>

                        </div>

                       

                    </div>


                    <div class="payment-options">
                        <span>Guaranteed safe checkout</span>

                        <div class="payment-methods">
                            <img src="~/assets/image/ProductDetail/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg"
                                 alt="">
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="tabmenu-area">
        <div class="container">
            <div class="tab-menu mt-5">
                <ul class="nav nav-pills mb-3 menu-area" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                            Description
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                            Comments
                        </button>
                    </li>

                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active dec-text" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab" tabindex="0">
                        @Model.Description
                    </div>
                    <div class="tab-pane fade mt-5 reviews" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab" tabindex="0">
                        1 Comments

                        <div class="bottom-line">
                        </div>


                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                      style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Add a comment</label>
                        </div>


                        <div class="user-name">
                            <span>Tom</span>

                        </div>


                        <div class="user-comment">
                            <span>Where are these products produced? </span>

                        </div>
                    </div>



                </div>




            </div>

        </div>
    </section>


    <section id="related-products">
        <div class="container">
            <div class="row">

                <div class="product-title mt-5">
                    <span>Related Product</span>

                </div>

                <div class="swiper">
                    <div class="swiper-wrapper">

                         @foreach (var item in Model.Products)
                            {
                        <div class="col-4 cart-product">
                           
                                
                            
                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                        <img src="~/assets/image/Shop/@item.ProductImages.FirstOrDefault(m => m.Ismain)?.Image">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">@item.Name</a>
                                <div class="item-price">
                                    <span class="new-price">$@item.Price</span>
                                  
                                </div>
                            
                            </div>

                        </div>
                        }

                     

                    </div>

                </div>

            </div>

        </div>

    </section>


</main>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/assets/js/ProductDetail/productDetail.js"></script>

}
