@model ShopVM

@{
    ViewData["Title"] = "Shop";
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/Shop/Shop.css">
}


<div class="shop-page"><span>Products</span></div>
<div class="home-shop">
    <a asp-controller="home" asp-action="index"><span>Home</span></a><span>
        / Products
    </span>
</div>



<main>
    <section id="product-area">
        <div class="container">
            <div class="row">
                <div class="col-3">


                    <div class="widget-title">
                        <h3>BRAND</h3>

                    </div>

                    <div class="thick-line">
                    </div>


                    <div class="bottom-line">
                        <hr>

                    </div>


                    <div class="widget-list d-flex">

                        <ul>
                            @foreach (var item in Model.Brands)
                            {
                                <li style="list-style:none">@item.Name <span>(3)</span></li>
                            }
                            
                          
                          

                        </ul>

                    </div>




                    <div class="widget-title">
                        <h3>COLOR</h3>

                    </div>


                    <div class="thick-line-two">
                    </div>



                    <div class="bottom-line">
                        <hr>

                    </div>



                    <div class="widget-list">
                        <ul>

                            @foreach (var item in Model.Colors)
                            {
                                <li style="list-style:none">@item.Name <span>(3)</span></li>
                            }

                        </ul>
                     

                    </div>



                  

                </div>





                <div class="col-9">
                    <div class="container">
                        <div class="row">

                            @foreach (var item in Model.Products)
                            {
                                
                            
                                <div class="col-4">
                                <div class="product-img">

                                           <a class="product-name" asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/assets/image/Shop/@item.ProductImages.FirstOrDefault(m => m.Ismain)?.Image"><img>
                                    </a>



                                    <div class="icons">
                                     @*   <button type="button">
                                            <i class="fas fa-sync-alt"></i>
                                        </button>*@

                                            <form asp-controller="basket" asp-action="addbasket" asp-route-id="@item.Id">
                                                <button type="submit" type="button">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </button>
                                               
                                            </form>

                                      @*  <button type="button">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>*@

                                            <form asp-controller="WishList" asp-action="AddWishList" asp-route-id="@item.Id">
                                                <button type="submit">
                                                    <i class="far fa-heart"></i>
                                                </button>

                                            </form>
                                    
                                    </div>
                                </div>



                                <div class="item-detail">
                                    <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                       class="item-name">Boston Bag</a>


                                        <div class="rating"
                                             style="display: flex;
                                             list-style: none;
                                             gap: 5px;
                                             justify-content: center;">

                                            @for (int i = 0; i < item.Rating; i++)
                                            {


                                                <li><i style="color:gold;" class="fa fa-star"></i></li>


                                            }

                                            @for (int i = 0; i < 5 - item.Rating; i++)
                                            {

                                                <li><i style="color:gray;" class="fa fa-star"></i></li>

                                            }

                                    </div>



                                    <div class="item-price">
                                        <span class="new-price">$@item.Price</span>
                                      
                                    </div>

                                    <button type="button" class="add-btn">add to cart</button>
                                </div>
                            </div>

                            }



                        </div>




                    </div>

                </div>

            </div>

        </div>
    </section>
</main>


@section Scripts{

    <script src="~/assets/js/Shop/Shop.js"></script>
}

